= form_for @user do |f|
	.fieldset
		=f.error_messages
		- if params[:action] == 'new'
			.clearfix
				= f.label :name
				.input= f.text_field :name
		.clearfix
			= f.label :email
			.input= f.text_field :email
		.clearfix
			= f.label :password
			.input= f.password_field :password
		.clearfix
			= f.label :password_confirmation
			.input= f.password_field :password_confirmation
		.clearfix
			%td
			.input= f.submit :class => [:btn, :primary]