= form_for @post do |f| 
	.fieldset
		= f.error_messages 
		.clearfix
			= f.label 'Title' 
			.input
				= f.text_field :title 
				
		.clearfix
			= f.label "Content" 
			.input
				= f.text_area :content, :class => :xxlarge, :rows => 20
		
		.clearfix
			= f.label "Publication date"
			.input
				= f.text_field :publication_date, :id => 'datetimepicker'
				
		.clearfix
			= f.label "Tags"
			.input
				= f.text_field :tags, :id => 'tokeninput'

		.clearfix
			= f.label "Options"
			.input
				%ul.inputs-list
					%li
						= hidden_field_tag "post[published]", ""
						%label
							= check_box_tag "post[published]", "true", @post.published?
							%span Published
					%li
						= hidden_field_tag "post[comments_disabled]", ""
						%label
							= check_box_tag "post[comments_disabled]", "true", @post.comments_disabled?
							%span Comments disabled
							
		.clearfix
			.input= f.submit :class => [:btn, :primary]