.post
  .row
    = render :partial => 'posts/post_header', :locals => {:post => post}

  .row
    .span11.offset1
      - cache("post_#{post.id}_full_body", :expires_in => 1.day) do
        = markdown post.content
    
      - if can? :edit, post
        = link_to "Edit", edit_post_path(post)
        |
      = link_to "Back to index", posts_path
