- title "Posts", false

- for post in @posts
	.post
		%h1= link_to post.title, post
		%small
			= "&mdash;".html_safe + " #{post.user.name.humanize}"
			= " | #{time_ago_in_words post.publication_date} ago"
			- if can? :edit, post
				%span.subheading
					|
					= link_to "Edit", edit_post_path(post)
			- if can? :destroy, post
				%span.subheading
					|
					= link_to "Remove", post_path(post), :method => :delete, :confirmation => "Are you sure you want to destroy this post?"

		%hr
		= markdown truncate(post.content, :length => 200, :separator => ' ')
		= link_to("Read more", post)
		= " (#{post.comments.count} comments)"