- title "Posts", false

- @posts.each do |post|
	.post
		.row
			= render :partial => 'post_header', :locals => {:post => post}

		.row
			.span11.offset1
				= markdown(truncate(post.content, :length => 1000, :separator => ' ')).html_safe
				= link_to("Read more", post)
				= " (#{post.comments.size} comments)"

=will_paginate @posts

=content_for(:sidebar) do
	= render :partial => 'layouts/taglist'
