- title @post.title, false

.post= render @post, :locals => {:post => @post}

- if can? :read, Comment
	- unless @post.comments.empty?
		%h1 Comments:
		- for comment in @comments do
			=render comment
		=will_paginate @comments

- if can? :create, Comment
	- unless @post.comments_disabled
		.row
			.span1
				= gravatar_for(current_user)
			.span9
				%strong New Comment:
				= render 'comments/form'
- else
	.row
		.span9.offset1.prepend-top.append-bottom
			= "You can #{link_to "sign in", new_from_github_sessions_path} using Github if you want to comment".html_safe
