= form_for [:admin, @user] do |f|
	.fieldset
		.clearfix
			%td{colspan:2}
				= f.error_messages
		.clearfix
			=f.label :name
			.input= f.text_field :name
		.clearfix
			=f.label :email
			.input= f.text_field :email
		.clearfix
			=f.label :password
			.input= f.password_field :password
		.clearfix
			=f.label :password_confirmation
			.input= f.password_field :password_confirmation
		.clearfix
			=f.label :roles
			.input
				%ul.inputs-list
					- for role in User::ROLES
						%li
							%label
								= check_box_tag "user[roles][]", role, @user.roles.include?(role)
								%span= role.humanize
					= hidden_field_tag "user[roles][]", ""
		.clearfix
			.input= f.submit :class => [:btn, :primary]