.topbar
	.fill
		.container
			%h3= link_to "WebL", root_path
			%ul
				= menu_item "Home", root_path
				= menu_item "About", about_path
				- if signed_in?
					= menu_item "New Post", new_post_path
			%ul.secondary-nav
				%li= render 'posts/search_form'
				- if signed_in? 
					%li.menu
						= link_to current_user.name.humanize, "#", :class => :menu
						%ul
							%li= link_to "Profile", user_path(current_user)
							%li.divider
							%li= link_to "Sign out", sign_out_path
				- else
					%li= link_to "Sign in", sign_in_path